<div class="row" >
    <div class="col-12 col-md-8 col-lg-7 pb-3 pb-md-0">
      <div class="header-contact">
        <ul class="row">
          <!-- <li class="col-12 col-md-4">{{ 'topbar-title' | translate }}</li> -->
          <li class="col-12 col-sm-6 col-lg-4 pt-1 pb-3 pb-md-0"><i class="fa fa-phone" aria-hidden="true"></i>{{ 'call-us' | translate }}: 123 - 456 - 7890</li>
          <li class="col-12 col-sm-6 col-lg-6 search-form">
            <input type="text" class="form-control"  (input)="serchkeyword($event)" (focusout)="searchfocusOut()" id="exampleInputPassword1" placeholder="Search a Product">
            <div *ngIf="hidden && searchResult" class="search-result-wrap">
                <div class="search-result" *ngFor="let res of searchResult">
                  <div class="row">
                    <div class="col-3 px-2">
                      <a class="search-product-thmb" [routerLink]="['/home/left-sidebar/product', res.id]">
                        <img src="{{res.pictures[0]}}" style="width: 60px;">
                      </a>
                    </div>
                    <div class="col-9 px-2">
                      <a  [routerLink]="['/home/left-sidebar/product', res.id]">
                        {{res.name}}
                      </a>
                    </div>
                  </div>
                </div>
               
            </div>
             <div class="search-result-wrap" *ngIf="Noresshow"> 
                  <div class="search-result">
                    No Record Found
                  </div>
                </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-4 col-lg-5 text-right" *ngIf="!productsService?.catalogMode">
      <ul class="header-dropdown">
        <!-- <li>
          <input type="text" class="form-control"  (input)="serchkeyword($event)" id="exampleInputPassword1" placeholder="Search a Product">
        </li> -->
        <!-- <li class="compare">
          <a [routerLink]="'/home/compare'"><i class="fa fa-random" aria-hidden="true"></i>{{ 'compare' | translate }}</a>
        </li> -->
        <!-- <li class="mobile-wishlist">
          <a [routerLink]="'/home/wishlist'"><i class="fa fa-heart" aria-hidden="true"></i>{{ 'wishlist' | translate }}</a>
        </li> -->
        <li class="onhover-dropdown mobile-account">
          <i class="fa fa-user" aria-hidden="true"></i> {{ 'my-account' | translate }}
          <ul class="onhover-show-div">
            <ng-template [ngIf]="!this.__common.isAuthenticated()">
            <li>
              <a [routerLink]="'/pages/login'" data-lng="en">
                  {{ 'login' | translate }}
              </a>
            </li>
            </ng-template>
            <ng-template [ngIf]="this.__common.isAuthenticated()">
            <li>
              <a (click)="logout()" data-lng="es">
                  {{ 'logout' | translate }}
              </a>
            </li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
    
</div>





