.banner-slider .home-banner > div:last-child img {
    margin-top: 0px;
}
.banner-slider .home-banner > div:last-child .custom-product-box {
    margin-top: 20px;
}
.custom-product-box {
    padding: 5px;
}
