<!-- <app-slider></app-slider>
<app-collection-banner></app-collection-banner>

<app-logo></app-logo>
<app-parallax-banner></app-parallax-banner>
<app-product-slider [products]="products"></app-product-slider>
<app-product-tab [products]="products"></app-product-tab>
<app-special-products-seven [products]="products"></app-special-products-seven>
 -->
 <app-home-banner></app-home-banner>
<app-collection-banner-nine></app-collection-banner-nine>
<app-parallax-banner></app-parallax-banner>
<app-product-tab-nine [products]="products"></app-product-tab-nine>
<app-product-slider [products]="products"></app-product-slider>
<app-logo></app-logo>
<app-special-products-seven [products]="products"></app-special-products-seven>
<app-quick-view></app-quick-view>