<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>contact</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item active">contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d50059.12775918716!2d72.78534673554945!3d21.16564923510817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1533793756956"   allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img  src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 123 - 456 - 7890</p>
                                <p>+86 163 - 451 - 7894</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>ABC Complex,Near xyz, New York</p>
                                <p>USA 123456</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img  src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@Shopcart.com</p>
                                <p>info@shopcart.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Fax</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@Shopcart.com</p>
                                <p>info@shopcart.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div *ngIf="!contactTrue">
                    <div *ngIf="showValidationError" class="from-group">
                        <div [innerHTML]="validationErrorHtml"></div>
                    </div>
                    <form class="theme-form" [formGroup]="contactForm" (ngSubmit)="onContact()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="name">Name</label>
                                <input formControlName="name" [formGroup]="contactForm" type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                                <div *ngIf="contactForm.controls.name.invalid && 
                                    (contactForm.controls.name.dirty || 
                                    contactForm.controls.name.touched)"
                                    class="text-danger mt-1"
                                >
                                    <div *ngIf="contactForm.controls.name.errors.required">
                                        Name is required
                                    </div>
                                    <div *ngIf="contactForm.controls.name.errors.minLength">
                                        Minimum lenght must be 2 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="mobile_number">Mobile number</label>
                                <input formControlName="mobile_number" [formGroup]="contactForm" type="text" class="form-control" id="mobile_number" placeholder="Enter your number" required="">
                                <div *ngIf="contactForm.controls.mobile_number.invalid && 
                                    (contactForm.controls.mobile_number.dirty || 
                                    contactForm.controls.mobile_number.touched)"
                                    class="text-danger mt-1"
                                >
                                    <div *ngIf="contactForm.controls.mobile_number.errors.required">
                                        Moile number is required
                                    </div>
                                    <div *ngIf="contactForm.controls.mobile_number.errors.minLength">
                                        Minimum lenght must be 10 characters
                                    </div>
                                    <div *ngIf="contactForm.controls.mobile_number.errors.maxLength">
                                        Minimum lenght must be 15 characters
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" required="">
                            </div>
                            -->
                            <div class="col-md-6">
                                <label for="subject">Subject</label>
                                <input formControlName="subject" [formGroup]="contactForm" type="text" class="form-control" id="subject" placeholder="Enter your number" required="">
                                <div *ngIf="contactForm.controls.subject.invalid && 
                                    (contactForm.controls.subject.dirty || 
                                    contactForm.controls.subject.touched)"
                                    class="text-danger mt-1"
                                >
                                    <div *ngIf="contactForm.controls.subject.errors.required">
                                        Subject is required
                                    </div>
                                    <div *ngIf="contactForm.controls.subject.errors.minLength">
                                        Minimum lenght must be 10 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="message">Write Your Message</label>
                                <textarea formControlName="message" [formGroup]="contactForm" class="form-control" id="message" placeholder="Write Your Message"rows="6"></textarea>
                                <div *ngIf="contactForm.controls.message.invalid && 
                                    (contactForm.controls.message.dirty || 
                                    contactForm.controls.message.touched)"
                                    class="text-danger mt-1"
                                >
                                    <div *ngIf="contactForm.controls.message.errors.required">
                                        Message is required
                                    </div>
                                    <div *ngIf="contactForm.controls.message.errors.minLength">
                                        Minimum lenght must be 10 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button [disabled]="contactForm.invalid" class="btn btn-solid" type="submit">Send Your Message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="contactTrue">
                    <div class="form-row">
                        <div class="col-md-12 ">
                            <div class="alert alert-success mt-3" [innerHTML]="successHtml">
                                Thank you for Contacting us,We will get back to you shortly.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->